@charset "UTF-8";
/* CSS Document */
body {
	text-align: center;
	background-color: bisque;  
}

a {
	padding: 15px;
	margin: 3px;
	font-size: 125%;
	background-color: burlywood; 
	color:darkblue; 
}

a:hover {
	font-size:200%;
	background-color: aliceblue; 
	color: cornflowerblue; 
}

