@charset "UTF-8";
/* CSS Document */

#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #screen_2{
border: black 5px solid;
width: 100%;
}
 
 #screen_2_arrows {
display: none;
border: black 5px solid;
	 width: 100%;
}

 #filters {
display: none;
border: black 5px solid;
	 width: 75%;
}

.choices {
cursor: pointer;
}

body {
	text-align: center;
	background-color:beige;  
}

a {
	padding: 5px;
	margin: 5px;
	font-size: 125%;
	background-color:cadetblue; 
	color:white; 
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-style: bold;
	
}

a:hover {
	font-size:150%;
	background-color: aliceblue; 
	color: cornflowerblue; 
}


